.state {
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.8);
    color: white;
}


.layout {
    padding: 0 30px;
}

.column {
    height: 700px;
}


.c3-line-real {
    stroke-width: 5 !important;
    stroke-linecap: round !important;
}

.c3-line-ideal {
    stroke-width: 2 !important;
    stroke-dasharray: 10 10;
}
