<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>метаскрам24</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

