{% extends 'scrum/base.j2' %}

{% block content %}
    <h1>{{ sprint_title }}</h1>
    <div id="chart"></div>

    <link href="{% static '3rdparty/c3/c3.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static '3rdparty/d3/d3.min.js' %}"></script>
    <script src="{% static '3rdparty/c3/c3.min.js' %}"></script>
    <script src="{% static '3rdparty/underscore/underscore.min.js' %}"></script>
    <script src="{% static 'js/burndown.js' %}"></script>
    <script>
        BurndownDiagram(
            '#chart',
            {{ sprint_storypoints|safe }},
            {{ sprint_days|safe }},
            {{ task_dayly_costs|safe }}
        );
    </script>
{% endblock %}
