{% extends 'scrum/base.j2' %}

{% block head %}
<link rel="stylesheet" href="{% static 'build/css/handy.css' %}" type="text/css" />
{% endblock %}


{% block content %}
<div class="layout">
    <h1>{{ sprint.title }}</h1>
    <div id="board_place"></div>
</div>

<script>
var tasks = {{ statuses|safe }};
</script>
<script src="/static/build/js/board.js"></script>
{% endblock %}
