{% extends 'scrum/base.j2' %}

{% block head %}
<link rel="stylesheet" href="{% static 'build/css/handy.css' %}" type="text/css" />
{% endblock %}


{% block content %}
<div class="layout">
    <h1>{{ sprint.title }}</h1>
    <div id="plan_place"></div>
</div>

<script>
var data = {{ prepared_tasks|safe }};
console.log(data);
</script>
<script src="/static/build/js/plan.js"></script>
{% endblock %}
