.layout
    padding 0 20px

.board
    background white
    display flex
    min-height 500px
    margin 0 -5px
    &__column
        width 25%
        margin 0 5px
        background #e9e9e9
        &__title
            background white
            padding 12px 0
        &__tasks
            padding 8px 0

.task
    background #fff
    border 1px solid #ccc
    border-left none
    color #333
    cursor move
    margin-top -1px
    font-size 13px
    line-height 1.4
    &-ghost
        opacity 0.3
    &__inner
        padding 10px 15px 10px 20px
        border-left 5px solid #bfe4ff
        min-height 60px
    &__title
        display block
        color #3b73af
        font-size 16px
        margin-bottom 5px
    &__cost
        float right
        text-align right
        font-size 24px
        width 33px
        border none
        border-bottom 1px dotted #ccc
        margin -2px 0 0 5px

.task-moar .task__inner
    border-color #dd0000

.state
    display none
