sans-serif()
    font-family Tahoma, FreeSans, sans-serif
monospace()
    font-family 'Courier New', monospace
interline()
    line-height 20px
italic()
    font-weight normal
    font-style italic
bold()
    font-weight bold
    font-style normal
bold_italic()
    font-weight bold
    font-style italic
$interline = 20px

// https://github.com/visionmedia/nib/blob/master/lib/nib/clearfix.styl
clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both

bg(name)
    images_dir = '../../i/svg-icons/build/'
    images_url = '/media/i/svg-icons/build/'
    svgpath(name)
        return images_dir + name + '.svg'
    pngurl(name)
        return images_url + name + '.png'

    background-image embedurl(svgpath(name))
    .mzno-svg &
        background-image url(pngurl(name))


