@import 'common'
@import 'colors'

.form
    &__control
        margin 0 0 15px
        clearfix()
    &__label
        margin 0 2% 0 0
        padding 3px 0
        float left
        width 44%
        font-size 14px
        line-height $interline
        color $base_dark
    &__wrap
        float left
        width 54%
    &__field
        width 100%
        border 1px solid #bcbcbc
        border-radius 4px
        height 26px
        line-height 20px
        padding 2px 5px
        font-size 12px
        color $base_dark
        &-twin
            float right
            width 95px
            &:first-child
                float left
        &-textarea
            resize none
            height auto
        &:focus
            border-color rgba($green, 0.8)
    &__twin_divider
        overflow hidden
        text-align center
        line-height 26px
        &:after
            content ""
            margin 12px 0 0
            width 14px
            height 1px
            display inline-block
            vertical-align top
            background $base_dark
    &__footer
        margin 25px 0 0
        border-top 1px solid #e6e6e6
        background #f7f7f7
    &-popup .form__footer
        margin 25px -25px -25px
        padding 25px

.message_control
    position relative
    margin 15px 0 $interline
    clearfix()
    &-open
        padding-bottom 45px
    &__field
        display block
        width 100%
        height 30px
        margin 0
        padding 4px 5px
        line-height 20px
        font-size 13px
        resize none
        border 1px solid #d0d0d0
        border-radius 5px
        box-shadow 0 2px 2px -1px rgba(0, 0, 0, .15) inset
        &:focus
            border-color rgba($green, 0.8)
    &-open .message_control__field
        height 90px
    &__buttons
        position absolute
        width 100%
        top 100%
        opacity 0
    &-open .message_control__buttons
        top 105px
        opacity 1
    &__button, &__photo
        position relative
    &__photo
        float right
        margin 0 4px 0 0

.file_hidden
    visibility hidden
    width 0
    height 0
    position absolute
.file_button
    display inline-block
    vertical-align top
    width 19px
    height 30px
    cursor pointer
    background-repeat no-repeat
    background-position 0 center
    bg 'photo'

