@import 'colors'

h1
    padding-top 6px
    padding-bottom 0
    font-size 26px
    line-height 1.16667em
    color #333
    margin 0 0 15px
h2
    font-size 20px
    font-weight normal
    line-height 1.25em
    margin 0 0 6px
    color black
h3
    font-size 16px
    line-height 1.3125em
    margin 0
p
    margin-bottom 15px
    margin-top 0

.subtitle
    color $base_light
    font-size 14px

hr
    color transparent
    background-color transparent
    height 0
    margin 0 0 15px
    padding 0
    border 0
    border-bottom 1px dashed #e6e6e6

